@import '../variables';


footer {
	position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
}

@media(max-height:800px) {
	footer {
		position: absolute;
	}
	header {
		padding-top: 40px;
	}
}
.footer-distributed {
	background-color: $footer_color;
	box-shadow: 0 1px 1px 0 $black_12;
	box-sizing: border-box;
	font: normal 16px $font_0;
	margin-top: 80px;
	padding: 45px 50px;
	text-align: left;
	width: 100%;
	.footer-right {
		float: right;
		margin-top: 6px;
		max-width: 180px;
		a {
			background-color: transparent;
			border-radius: 2px;
			color: $white;
			display: inline-block;
			font-size: 20px;
			height: 35px;
			line-height: 35px;
			margin-left: 3px;
			text-align: center;
			width: 35px;
      /* padding-top: 0px; */
		}
	}
	.footer-left p {
		color: $white;
		font-size: 14px;
		margin: 0;
    text-transform: capitalize;
	}
	p.footer-links {
		color: $white;
		font-size: 15px;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 0;
    text-transform: uppercase;
		a {
			display: inline-block;
			line-height: 1.8;
			text-decoration: none;
			color: inherit;
		}
	}
}

@media(max-width: 600px) {
	.footer-distributed {
		.footer-left {
			text-align: center;
			p.footer-links {
				line-height: 1.8;
			}
		}
		.footer-right {
			text-align: center;
			float: none;
			margin: 0 auto 0px;
		}
	}
}