@import '../variables';


footer {
	position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
}

@media(max-height:800px) {
	footer {
		position: absolute;
	}
	header {
		padding-top: 40px;
	}
}
.footer-distributed {
	background-color: $color_baltic_sea_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 1px 0 $black_12;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px $font_0;
	padding: 45px 50px;
	margin-top: 80px;
	.footer-right {
		float: right;
		margin-top: 6px;
		max-width: 180px;
		a {
			display: inline-block;
			width: 35px;
			height: 35px;
			background-color: $color_outer_space_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 2px;
			font-size: 20px;
			color: $white;
			text-align: center;
			line-height: 35px;
			margin-left: 3px;
		}
	}
	.footer-left p {
		color: $color_mountain_mist_approx;
		font-size: 14px;
		margin: 0;
	}
	p.footer-links {
		font-size: 18px;
		font-weight: bold;
		color: $white;
		margin: 0 0 10px;
		padding: 0;
		a {
			display: inline-block;
			line-height: 1.8;
			text-decoration: none;
			color: inherit;
		}
	}
}

@media(max-width: 600px) {
	.footer-distributed {
		.footer-left {
			text-align: center;
			p.footer-links {
				line-height: 1.8;
			}
		}
		.footer-right {
			text-align: center;
			float: none;
			margin: 0 auto 20px;
		}
	}
}