@import '../variables';

.profile-dropdown {
  color: black;
  a {
    &:hover, &:focus {
               color: black !important;
               outline: 0;
             }
  }
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar-default {
  background-color: $color_baltic_sea_approx;
  border-color: transparent;
  margin-bottom: 0px;
  height: auto;
  min-height: 50px;
  /* .container { */
  /*   height: inherit; */
  /* } */
  .navbar-brand {
    color: $white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, cursive;
    /* font-weight: bold; */
    &:hover {
        color: $white;
    }
  }
  /* .navbar-collapse { */
  /*   border-color: rgba(255, 255, 255, 0.02); * pullLeft>
  /* } */
  .navbar-toggle {
    background-color: $highlight-color;
    border-color: $highlight-color;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background-color: $white;
    }
  }
  .nav li a {
    font-family: $font-stack;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: $navbar-option;
    vertical-align: middle;
    &:hover, &:focus {
      color: $white;
      outline: 0;
    }
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: $white;
    background-color: $color_baltic_sea_approx;
    &:hover, &:focus {
      color: $white;
      background-color: $color_baltic_sea_approx;
    }
  }
}

@media (min-width: 992px) {
  .navbar-default {
    background-color: $color_baltic_sea_approx;
    padding: 0px 0;
    transition: padding .3s;
    border: 0;
    .navbar-brand {
      font-size: 2em;
      transition: all 0.3s;
    }
    .navbar-nav > .active > a {
      border-radius: 3px;
    }
    &.navbar-shrink {
      background-color: #222;
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

@media (max-width: 992px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}