@import '../variables';

table {
    background-color: $white;

}

.table-element {
    &:hover {
        background-color: $background_red !important;
        color: $white;
    }
    
}

.selected {
    background-color: $background_red !important;
    color: $white;
}