app/node_modules/*
app/src/*.woff2
app/src/*.svg
app/src/*.ttf
app/src/*.eot
app/src/*.woff
app/public/*
app/.jshintrc
app/.tern-port
app/server/server.bundle.js
app/npm-debug.log
nginx/certs/nginx.*
app/server/.tern-port
*/**/.tern-port
