@import 'variables';

.text-muted {
  color: #777;
}

.text-primary {
  color: $highlight-color;
}

.img-centered {
  margin: 0 auto;
}

/* .bg-light-gray { */
/*   background-color: #f7f7f7; */
/* } */

/* .bg-darkest-gray { */
/*   background-color: #222; */
/* } */

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

::selection {
  text-shadow: none;
  background: $highlight-color;
}

img {
  &::selection {
    background: 0 0;
  }
}