$highlight-color: #8f9296;
$font-stack: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

// footer
/* $color_baltic_sea_approx: #292c2f; */
$color_baltic_sea_approx: rgb(85, 89, 93);
$black_12: rgba(0, 0, 0, 0.12);
$color_mountain_mist_approx: #8f9296;
$color_outer_space_approx: #33383b;

$navbar-option: #818b96;
$footer_color: #707880;

//fonts
$font_0: sans-serif;

// Pure colors
$white: #fff;
$background_red: #FD7062;
$background_blue: #5BC9C5;
