$highlight-color: #8f9296;
$font-stack: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

// footer
/* $color_baltic_sea_approx: #292c2f; */
$color_baltic_sea_approx: rgb(85, 89, 93);
$black_12: rgba(0, 0, 0, 0.12);
$color_mountain_mist_approx: #8f9296;
$color_outer_space_approx: #33383b;

$navbar-option: #818b96;
$footer_color: #707880;

//fonts
$font_0: sans-serif;

// Pure colors
$white: #fff;
$background_red: #FD7062;
$background_blue: #5BC9C5;

//colors
$color_gallery_approx: #f0f0f0;
$color_fuscous_gray_approx: #555555;
$color_silver_chalice_approx: #aaaaaa;
$black_10: rgba(0,0,0,0.1);
$color_alto_approx: #dddddd;
$color_mountain_mist_approx: #999999;
$color_storm_dust_approx: #666666;