@import '../variables';

.btn {
  border-radius: 10px!important;
  &:focus, &:active, &.active, &:active:focus {
    outline: 0;
  }
}

ul.dropdown-menu {
  z-index: 100;
}

.btn-primary {
  color: #000;
  background-color: $highlight-color;
  border-color: $highlight-color;
  font-family: $font-stack;
  text-transform: uppercase;
  font-weight: 700;
  &:hover, &:focus, &:active, &.active {
    color: $white;
    background-color: $background_red;
    border-color: $background_red;
  }
}

.open .dropdown-toggle.btn-primary {
  color: $white;
  background-color: $background_red;
  border-color: $background_red;
}

.btn-primary {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary {
  &.disabled, &[disabled] {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-primary {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-primary {
  &.disabled:hover, &[disabled]:hover {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-primary:hover {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-primary {
  &.disabled:focus, &[disabled]:focus {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-primary:focus {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-primary {
  &.disabled:active, &[disabled]:active {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-primary:active {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-primary {
  &.disabled.active, &[disabled].active {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-primary.active {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-primary .badge {
  color: $highlight-color;
  background-color: $white;
}

.btn-xl {
  /* background-color: $highlight-color; */
  background-color: transparent;
  border-color: $white;
  border-radius: 3px;
  border-width: 3px;
  color: $white;
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  text-transform: uppercase;
  &:hover, &:focus, &:active, &.active {
    color: $background_red;
    background-color: transparent;
    border-color: $background_red;
    background-image: none;
  }
}

.open .dropdown-toggle.btn-xl {
  color: $white;
  background-color: $background_red;
  border-color: $background_red;
}

.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl {
  &.disabled, &[disabled] {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-xl {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-xl {
  &.disabled:hover, &[disabled]:hover {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-xl:hover {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-xl {
  &.disabled:focus, &[disabled]:focus {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-xl:focus {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-xl {
  &.disabled:active, &[disabled]:active {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-xl:active {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-xl {
  &.disabled.active, &[disabled].active {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

fieldset[disabled] .btn-xl.active {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.btn-xl .badge {
  color: $highlight-color;
  background-color: $white;
}

.search-button-group {
  margin-bottom: 30px;
}

.login-button {
  padding-top: 200px;
  padding-bottom: 300px;
}