@import '../variables';

.location_reorder {
  height: 100%;
  background: $white;
  box-shadow: $box_shadow;
  text-align: center;
}

.edit_selection {
  background: $white;
  box-shadow: $box_shadow;
  margin-top: 20px;
}