@import '../variables';

.touroverview {
  padding: 8px 0px;
	background-color: $white;
}

#overview {
	box-shadow: $box_shadow;
	background-color: $white;
}

#overview_panels {
  padding: 0px 15px;
}

#locations_list {
  box-shadow: $box_shadow
}

.tour_title {
  background-color: $white;
  box-shadow: $box_shadow;
  margin-top: 20px;
  margin-bottom: 20px;
  /* text-align: center; */
  /* white-space: nowrap; */

  /* &:before { */
  /*   content: ''; */
  /*   display: inline-block; */
  /*   height: 100%; */
  /*   vertical-align: middle; */
  /*   margin-right: -0.25em; */
  /* } */
}

.btn-brightblue {
  &.btn-outlined {
    color: #003bff;
    background: 0 0;
  }
  &.btn-inverse.btn-outlined {
    color: #fff;
    border-color: #fff;
  }
}
.border-black75 {
  border-color: #3f3f3b!important;
}
.social-avatar {
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  position: absolute;
  background: linear-gradient(top,rgba(0,0,0,.3) 0,rgba(0,0,0,.5) 100%);
}

.img-avatar {
  display: block;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 100px;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 50px;
}

.fg-white {
  color: #fff;
  opacity: 0.8;
  .tab-container {
    &.plain .nav-tabs .b-tab.active a {
      color: #fff;
    }
    .nav-tabs .b-tab a {
      color: #fff;
    }
  }
  .fg-tab-active .tab-container .nav-tabs .b-tab.active a {
    color: #fff;
  }
}

.btn-orange75 {
  &.btn-outlined {
    color: #ee682f;
    background: 0 0;
  }
  &.btn-inverse.btn-outlined {
    color: #fff;
    border-color: #fff;
  }
}

.btn {
  &.btn-rounded {
    line-height: 1;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 100px;
    height: auto!important;
    padding: 15px!important;
  }
  > .rubix-icon {
    line-height: 1;
    font-size: 18px;
  }
}

.social-like-count {
  cursor: pointer;
  display: inline-block;
  > span {
    margin-left: 25px;
  }
}

.fg-focus-white:focus {
  color: #fff;
}

.fg-hover-white:hover {
  color: #fff;
}