@import '../variables';

section {
  padding: 20px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 60px 0;
  }
}

.browse-map {
  margin-top: 50px;
  margin-bottom: 30px;
}

.tour-box {
  padding-top: 20px;
  max-height: 250px;
}

.guideBox {
  margin-top: 20px;
}

.guideImage {
  margin-top: 30px;
}

.guideProfile {
  background-color: #FD7062;
  margin-top: 30px;

  h4 {
    text-align: center;
    color: white;
  }

  p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    color: white;
    text-align: center;
  }
}

.about-ul {
  list-style: none;
  list-style-type: none;
}

.about-ul li {

  margin-bottom: 100px;

}

.about-list {
  list-style-type: none;
  margin-bottom: 250px;
}

.about-image {
  text-align: center;
  width: 200px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.about-image img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.about-panel {
  color: white;
  text-align: center;
}