@import '../variables';

section {
  padding: 20px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  section {
    padding: 60px 0;
  }
}

.tour-box {
  padding-top: 20px;
}

.guideBox {
  margin-top: 20px;
}

.guideImage {
  margin-top: 30px;
}

.guideProfile {
  background-color: #FD7062;
  margin-top: 30px;

  h4 {
    text-align: center;
    color: white;
  }

  p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    color: white;
    text-align: center;
  }
}