@import '../variables';

.guideTours {
    margin-top: 10px;
}


table.tableSection {
    display: table;
    width: 100%;
    border-style: solid;
    border-right: thick 3px black;
}

table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}

table.tableSection tbody {
    overflow: auto;
    height: 600px;
}

table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
    height: 100px;
}

table.tableSection td.fit,
table.tableSection th.fit {
    white-space: nowrap;
    width: 1%;
}

table.tableSection td.location-data {

    h4 {
        text-align: left;
    }

    p {
        color: gray;
        text-align: left;
        font-size: 12px;
        margin-left: 10px;
    }

}