@import '../variables';

.tourNavBar {
  margin: 0 15%;
  margin-bottom: 50px;
  text-align: center;
  font-size: 16px;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, cursive;
  li {
    display: inline-block;
  }
  > li > a {
    border-bottom: 2px solid  gray;
    &:hover {
      color: black;
      background-color: transparent;
      border-bottom: 2px solid  black;
    }
  }
}