@import '../variables';

.social-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.cover-container {
  height: 350px;
  margin-top: -25px;
  background-image: url(http://www.nuevayork.net/fotos/times-square.jpg);
  background-size: cover;
  position: relative;
  margin-bottom: 25px;
  background-position: center;
}